body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('5176555.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
}

.logo img {
    max-width: 400px; /* Увеличил размер логотипа */
}

.content {
    max-width: 1100px;
    margin: auto;
    margin-top: 200px;
}

h1 {
    font-size: 3em; /* Увеличил размер текста заголовка */
}

p {
    font-size: 1.5em; /* Увеличил размер текста */
    margin: 15px 0;
}

.discount {
    font-size: 1.8em; /* Увеличил размер текста промокода */
    font-weight: bold;
    background-color: rgb(195, 129, 240); /* Основной цвет заливки промокода */
    color: black; /* Цвет текста промокода */
    padding: 10px 20px;
    border-radius: 5px;
}

/* Адаптивные стили */
@media (max-width: 1366px) {
    .logo img {
        max-width: 350px;
    }

    .content {
        max-width: 1000px;
        margin-top: 180px;
    }

    h1 {
        font-size: 2.8em;
    }

    p {
        font-size: 1.4em;
    }

    .discount {
        font-size: 1.6em;
        padding: 10px 20px;
    }
}

@media (max-width: 1280px) {
    .logo img {
        max-width: 320px;
    }

    .content {
        max-width: 900px;
        margin-top: 160px;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.3em;
    }

    .discount {
        font-size: 1.5em;
        padding: 10px 20px;
    }
}

@media (max-width: 996px) {
    .logo img {
        max-width: 300px;
    }

    .content {
        max-width: 700px;
        margin-top: 140px;
    }

    h1 {
        font-size: 2.3em;
    }

    p {
        font-size: 1.2em;
    }

    .discount {
        font-size: 1.4em;
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {
    .logo img {
        max-width: 280px;
    }

    .content {
        max-width: 600px;
        margin-top: 120px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.1em;
    }

    .discount {
        font-size: 1.3em;
        padding: 8px 16px;
    }
}

@media (max-width: 540px) {
    .logo img {
        max-width: 200px;
    }

    .content {
        max-width: 95%;
        margin-top: 100px;
    }

    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1em;
    }

    .discount {
        font-size: 1.2em;
        padding: 6px 12px;
    }
}
